*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 54vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   
}
.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 5vmin;
}
#rest{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;

}
#msg{
    color: #fffc7f;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}